<div id="offsetSearch" class="search-offset bg-inverse">

	<div class="px-1 pt-1 text-xs-center">
		<button class="btn btn-block btn-danger offsetSearch btn-slash" type="button" id="offsetSearch">
	        Close <i class="fa fa-close"></i>
	    </button>
	</div>

    <hr>

	<h2 class="text-xs-center display-4"><i class="fa fa-search"></i> Search</h2>

	<div class="container container-results bg-primary m-y-1">

	  <div class="row p-2">

			<h5>Tip your references to find posts. </h5>
			<input type="text" class="form-control form-control-lg col-xs-9" id="searchInput" placeholder="Search for...">
			<button class="btn btn-inverse btn-lg col-xs-3 btn-slash" id="searchBtn" type="button">Go!</button>

		</div>

		<div class="row px-2 pb-2" id="listsResults">

		</div>
	</div>

</div>
