{{!< default}}
  <link rel="stylesheet" type="text/css" href="{{asset "css/comment_send.css"}}" />
   <link rel="stylesheet" type="text/css" href="{{asset "css/commentStyle.css"}}" />
<script type="text/javascript" src="{{asset "js/jquery_form.js"}}"></script>

  <script type="text/javascript">
      function handleIt() {
       var keyData=$('#keyId')[0].value;
       var valueData=$('#messageId')[0].value;
       if(keyData.length==0||valueData.length==0)
       {
         showDialog("错误","内容不能为空");
         return
       }
       $.post("/extra_api",
                  {
                      a:"send_board",
                      key: keyData,
                      value: valueData,
                  },function(data,error){
                        if(error!='success')
                        {
                         showDialog("错误","发送留言失败");
                            return
                        }
                         resetForm();
                         showDialog("提醒","发送留言成功");
                  })

      }

        function resetForm()
        {
             $('#keyId')[0].value="";
             $('#messageId')[0].value="";
        }

    </script>
<style>
    label {
        display: block;
        margin-top: 1em;
        margin-bottom: 1em;
    }

    body {
    }

    input.data {
        width: 50%;
    }

    .href_link {

    }

    .href_link:link,.href_link:visited{
        text-decoration:none;  /*超链接无下划线*/
        color: #0eb8ea;
        font-size: 2rem;
    }
    .href_link:hover{
        text-decoration:underline;  /*鼠标放上去有下划线*/
        color: #0eb8ea;
        font-size: 2rem;
    }

</style>
{{>single_page_head page_title="留言板" page_subtitle="message board"}}

<div id="respond" class="comment-respond">
        <form action="" method="post" id="commentform" class="comment-form"
              novalidate="" target="_blank">
            </p>
            <p class="comment-form-comment"><label for="comment">留言 <span class="required">*</span></label>
			<textarea id="messageId" name="message"
					  cols="45"
					  rows="8" maxlength="500"
					  aria-required="true"
					  required="required"
					  placeholder="写下你的留言..."></textarea>
            </p>
            <p class="comment-form-author"><label for="author">秘钥 <span class="required">*</span></label> <input
                    id="keyId"
                    name="key"
                    type="text"
                    value=""
                    size="30"
                    maxlength="10"
                    aria-required="true"
                    required="required"
					placeholder="请输入留言秘钥">
            </p>
            <p class="form-submit"><input name="submit" type="button" id="submit" class="send-btn" value="发送留言" onclick="handleIt();"/>
            </p>
        </form>
    </div>


