<link rel="stylesheet" type="text/css" href="{{asset "css/index_left.css"}}" />
<div class="siedebar-custom col-md-4" id="sidebar-layout">
    <div id="secondary" class="widget-area">
        <aside class="widget glimmer_about_widget clearfix">
            <div class="widget-title-area"><h5 class="widget-title"><span>博主</span></h5></div>
            <div class="about-widget">
                <figure class="author-image-home"><img class="img-responsive"
                                                       src="/my_head.jpg"
                                                       alt="信马归风">
                </figure> 
                <div class="about-description"><h3 class="author-name">信马归风</h3>
                    <p> 欢迎来到我的博客，我会在这里分享我的技术文章和生活中的点点滴滴~。本人毕业于郑州大学，现于英语流利说担任Android开发工程师。本人是资深动漫宅，游戏宅，技术宅，爱好摄影，尤克里里，美剧日剧。欢迎留言交流。</p>
                   </div>
            </div>
        </aside>
		<aside class="widget glimmer_latest_post_widget clearfix">
            <div class="widget-title-area"><h5 class="widget-title"><span>热门文章</span></h5></div>
			
        </aside>
        <aside class="widget widget_ads clearfix">
            <div class="widget-title-area"><h5 class="widget-title"><span>访问统计</span></h5></div>
            <div class="ads-widget" id="ads-widget">
                <ul class="visit_msg">
                    <li><span>今日访问次数：</span><span id="todayCount"></span><span>次</span></li>
                    <li><span>累计访问次数：</span><span id="totalCount"></span><span>次</span></li>
					<li><span>累计访问人次：</span><span id="totalIpCount"></span><span>人</span></li>
                </ul> 
            </div> 
        </aside>
      
    </div>
</div>
