<div class="support-author">
<p>如果有一点感触，可以给一点点打赏哦~^V^</p>
<div class="group">
<div class="like" >
        <div class="like-group" id="like-id" value="{{extra_post.isLike}}">
            <div class="like-button"><a><i class="iconfont ic-like"></i>喜欢</a></div>
            <div class="modal-wrap"><a id="like-count">{{extra_post.likeCount}}</a></div>
        </div>
    </div>

	 <div class="money-group">
        <div class="btn-pay">赞赏支持</div>
        <div class=pay_group>


            <div class="money-code">
            <span class="alipay-code">

                <img class="alipay-img"
                     src="/zhifubao.jpg"><b>支付宝</b>
            </span>
                <span class="wechat-code">
                <img class="wechat-img"
                     src="/weixin.jpg"><b>微信</b>
            </span>
            </div>
        </div>

    </div>
	</div> 
</div>
